.input-time {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    div {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: 20px;

        input {
            width: 65px;
            margin-right: 10px;
        }

        label {
            margin-bottom: 0;
        }
    }
}
