<CascadingValue Value="_firstName" Name="FirstName">
    <CascadingValue Value="_lastName" Name="LastName">
        <Router AppAssembly="@typeof(Program).Assembly">
            <Found Context="routeData">
                <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            </Found>
            <NotFound>
                <LayoutView Layout="@typeof(MainLayout)">
                    <p>Sorry, there's nothing at this address.</p>
                </LayoutView>
            </NotFound>
        </Router>
    </CascadingValue>
</CascadingValue>

@code {
    private string _firstName = "Chris";
    private string _lastName = "Sainty";
}
