@using BlazingTrails.Client.Features.Auth
@inject AppState AppState
@implements IDisposable

<nav class="navbar mb-3 shadow">
    <a class="navbar-brand" href="/">
        <img src="/images/logo.png">
    </a>
</nav>

<div class="container d-flex justify-content-between">
    <p>You have <span class="font-weight-bold">@AppState.FavoriteTrailsState.FavoriteTrails.Count</span> <a href="/favorite-trails">favorite trails</a></p>
    <LoginStatus />
</div>

@code {

    protected override void OnInitialized()
        => AppState.FavoriteTrailsState.OnChange += StateHasChanged;

    void IDisposable.Dispose()
    => AppState.FavoriteTrailsState.OnChange -= StateHasChanged;
}
