@inherits TestContext

@code 
{
    public FavoriteButtonTests()
    {
        this.Services.AddScoped<AppState>();
        this.AddBlazoredLocalStorage();
    }

    [Fact]
    public void RendersAddFavoriteButton_When_TrailIsNotFavorited()
    {
        // Arrange
        var testTrail = new Trail
        {
            Id = 1
        };

        // Act
        var cut = Render(@<FavoriteButton Trail="testTrail" />);

        // Assert
        cut.MarkupMatches(@<button class="btn btn-outline-primary ml-1" title="Favorite">
                               <i class="bi bi-heart"></i>
                           </button>
    );
    }

    [Fact]
    public async Task RendersRemoveFavoriteButton_When_TrailIsFavorited()
    {
        // Arrange
        var testTrail = new Trail
        {
            Id = 1
        };

        var appState = this.Services.GetService<AppState>();
        await appState.FavoriteTrailsState.AddFavorite(testTrail);

        // Act
        var cut = Render(
            @<FavoriteButton Trail="testTrail" />
        );

        // Assert
        cut.MarkupMatches(
            @<button class="btn btn-outline-primary ml-1" title="Favorite">
                <i class="bi bi-heart-fill"></i>
            </button>);
    }
}
