@page "/"
@inject HttpClient Http

@if (_trails == null)
{
    <p>Loading trails...</p>
}
else
{
    <TrailDetails Trail="_selectedTrail" />
    <div class="row row-cols-1 row-cols-md-2">

        @foreach (var trail in _trails)
        {
            <div class="col mb-4">
                <TrailCard Trail="trail" OnSelected="HandleTrailSelected" />
            </div>

        }

    </div>
}

@code {
    private IEnumerable<Trail> _trails;
    
    #nullable enable
    private Trail? _selectedTrail;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _trails = await Http.GetFromJsonAsync<IEnumerable<Trail>>("trails/trail-data.json");
        }
        catch (HttpRequestException ex)
        {
            Console.WriteLine($"There was a problem loading trail data: {ex.Message}");
        }
    }

    private void HandleTrailSelected(Trail trail)
    {
        _selectedTrail = trail;
    }
}