@inject NavigationManager NavManager

<div class="jumbotron">
    <h1 class="display-4">Welcome to Blazing Trails</h1>
    <p class="lead">Find the most beautiful hiking trails using our blazing fast search!</p>
    <hr class="my-4">
    <p>
        <input @onkeydown="SearchForTrail"
               @bind="_searchTerm"
               @bind:event="oninput"
               type="text"
               placeholder="Search for a trail..."
               class="form-control form-control-lg" />
    </p>
</div>

@code {
    private string _searchTerm;

    private void SearchForTrail(KeyboardEventArgs args)
    {
        if (args.Key != "Enter") return;

        NavManager.NavigateTo($"/search/{_searchTerm}");
    }
}
