@typeparam TItem

<table class="table table-striped">
    <thead>
        <tr>
            @Header
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Items)
        {
            <tr>
                @Row(item)
            </tr>
        }
    </tbody>
</table>

@code {
    [Parameter] public IEnumerable<TItem> Items { get; set; }
    [Parameter] public RenderFragment Header { get; set; }
    [Parameter] public RenderFragment<TItem> Row { get; set; }
}
