@page "/"

<h1>Hello, world!</h1>

Welcome to your new app, @FirstName @LastName.

@code {
    [CascadingParameter(Name = "FirstName")] public string FirstName { get; set; }
    [CascadingParameter(Name = "LastName")] public string LastName { get; set; }
}
