<ul class="nav nav-tabs">
    @foreach (var tab in _tabs)
    {
        <li class="nav-item">
            <button @onclick="@(() => SelectedTab = tab)"
                    class="nav-link nav-link-button @(SelectedTab == tab ? "active" : "")">
                @tab.Title
            </button>
        </li>
    }
</ul>

<div class="mt-3">
    <CascadingValue Value="this">
        @ChildContent
    </CascadingValue>
</div>

@code {

    private List<Tab> _tabs = new List<Tab>();

    [Parameter] public RenderFragment ChildContent { get; set; }

    public Tab SelectedTab { get; private set; }

    public void AddTab(Tab tab)
    {
        _tabs.Add(tab);
        if (_tabs.Count() == 1)
        {
            SelectedTab = tab;
        }

        StateHasChanged();
    }
}
